.OxideLeaderboard {

  height: 25vh;
  left: 0;
  right: 0;

}


.OxideStats {

  height: 10vh;

}


.OxideWager {

  height: 15vh;

}

.IconPhoto {

  font-size: 30vw;
  color: #0971f5;

}


.OxideButton {

  height: 22.5vh;

}
