.owl-stage {
  min-width: 100%;
  width: 100%;
  padding: 0;
  margin-top: 8px 0 8px 0;
}

.owl-carousel {
  margin-bottom: 0px;
}

.owl-carousel .owl-stage-outer {
  overflow: hidden;
  background-color: #afafaf;
  height: 290px;
  padding-top: 30px;
  padding-left: 29px;
}

.owl-item.active {
  opacity: 1;
}

.owl-carousel .item {
  background-color: #f7f7f7;
  color: #fff;
  font-size: 14px;
  min-height: 150px;
  height: 230px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

.owl-carousel .item h5 {
  padding-top: 100px;
  font-weight: 300;
}

.owl-dot {
  color: #333;
}

.owl-nav, .owl-dots {
  display: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.HeroCarouselWrapper {
  height: 210px;
  background-color: #ccc;
  padding: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.dAppCarouselItem:hover {
  opacity: 0.4;
  transition: .4s ease all;
}

.dAppCarouselItem {
  border-radius: 5px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.dapp_hero_meta_wrapper {
  background-color: #333;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 15px 15px 10px 30px;
  color: #fff;
}

.slideWidth {
  width: 430px;
}

.itemContent {
  display: block;
  text-align: left;
  height: 100%;
  max-width: 100%;
  padding: 30px;
  vertical-align: bottom;
}

.itemContent h4 {
  font-size: 20px;
  font-weight: 500;
}
