html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

.HeroCarouselWrapper {
  height: 210px;
  background-color: #ccc;
  padding: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.HeroCarouselWrapper .ItemWrapper {
  height: 150px;
  width: 300px;
  background-color: #929292;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 40px;
}

.HeroCarouselWrapper .ItemWrapper:hover {
  background-color: #616161;
  cursor: pointer;
}
